*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
   background-color:lightseagreen;
}
h1{
    
    text-align: center;
    margin-top: 20%;
    color: rgb(26, 25, 25);
   
    
    
}